@import 'base';

.items-page{
    display: grid;
    grid-template-columns: 15% 85%;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1%;
    border-top: 1px solid $primary-color;
}

.item-description{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding: .75%;
}
