@import 'base';

.items-page{
    display: grid;
    grid-template-columns: 15% 85%;
}

.item-list{
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 7% 7%;
    padding: 1%;
    border-top: 1px solid $primary-color;
}

.item-description{
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 10%;
    list-style-type: none;
    padding: .75%;
}

.add-to-cart{
    color: $fill;
    background-color: $highlight;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 3px;
}

